@import "src/styles/colors.scss";


.containerImg {
    width: 736px;
    width: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 736px;
        height: 1px;
        bottom: -80px;
        background: $medium;
    }
}

.selectedImage {
    width: 329px;
    height: 314px;
    overflow: hidden;
}

.selectedImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
