@import "/src/styles/colors.scss";

@mixin Tabs {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $secondary;
    position: relative;
    border-bottom: 2px solid transparent;
    height: 48px;
    text-align: center;
    cursor: pointer;
    &:hover {
        color: $primary;
    }
}

.all {
    @include Tabs();
    width: 100px;
}

.myfavorite {
    @include Tabs();
    width: 176px;
}

.popular {
    @include Tabs();
    width: 140px;
}

.active {
    border-bottom: 2px solid $secondary;
    &:hover {
        border-bottom: 2px solid $primary;
    }
}

.disabled {
    color: $gray;
    &:hover {
        cursor: not-allowed;
        color: $gray;
    }
}
.dark {
    background-color: $secondary;
    color: $white;
}
