@import "/src/styles/colors.scss";

@mixin Title {
    font-family: "Inter";
<<<<<<< HEAD
=======
    font-style: normal;
>>>>>>> b09487edbd8b32b3973154b9820b92f244fad90e
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
}
.title {
    @include Title();
    color: $secondary;
}
