@import "src/styles/colors.scss";

.Overlay  {
    background-color: rgba(37, 5, 112, 0.5);
  }
.containerModal {
    position: relative;
    background-color: $white;
    width: 886px;
    height: 588px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.dark {
    background-color: $secondary;
}
